@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 4px solid #D3D3D3;
    background-color: white;
    text-align: center;
}

header > .container {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 52px;
    padding-top: 38px;
    min-height: calc(100vh - 52px);
    border: solid 4px white;
}

main.your-turn {
    border: dashed 4px #e76e55;
}

.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

section {
    margin-bottom: 3rem;
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 1.5rem; 
}

hr {
    border: none;
    border-bottom: 4px solid #D3D3D3;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}

.nes-container {
    padding: 1.5rem 1rem;
}

.nes-field, .nes-select {
    margin-bottom: 1.5rem;
}

.mt {
    margin-top: 1.5rem;
}

.mb {
    margin-bottom: 1.5rem;
}

.mr {
    margin-right: 1.5rem;
}

.ml {
    margin-left: 1.5rem;
}

.nes-badge {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    background: none;
    border: none;
}

.nes-badge span:first-child, .nes-badge span:last-child {
    position: relative !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

.hand-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    font-size: 34px;
    width: 72px;
    height: 100px;
    margin-left: .4em;
    margin-right: .4em;
}

.card > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deck {
   width: 100px;
   height: 140px;
   font-size: 30px;
}

.deck > span > span {
    font-size: 22px;
}

.discard {
    cursor: inherit;
    width: 100px;
    height: 140px;
    font-size: 42px;
}

#call-una {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 44px;
    height: 44px;
}

.called-una::before {
    content: 'U';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    font-size: 0.4em;
    color: #fff;
    text-align: center;
    background-color: #92cc41;
    box-shadow: 0 0.5em #92cc41, 0 -0.5em #92cc41, 0.5em 0 #92cc41, -0.5em 0 #92cc41;
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    height: 2.7em;
    z-index: 2;
}

.wild-balloon {
    padding: 0.3rem;
    /* box-shadow: 0 5px 20px 5px rgb(0 0 0 / 60%); */
    z-index: 1;
}

.wild-balloon .nes-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.nes-balloon.from-left::after,
.nes-balloon.from-left::before {
    left: 5.5rem;
}

#time {
    position: fixed;
    top: 0;
    right: 1rem;
    font-size: 2rem;
    z-index: 10;
}

@media (max-width: 767px) {
    .hand-wrap .card {
        font-size: 25px;
        width: 54px;
        height: 72px;
        margin-bottom: 0.8em;
    }
    #call-una {
        bottom: 1rem;
        right: 1rem;
    }
}